{% extends "studentparent.html" %}
{% block body %}
{% if messages %}
{% for messages in messages %}
 <div class="alert alert-info alert-dismissible fade show" role="alert">
  <p>{{messages}}</p>
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>

{% endfor %}

{% endif %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Change Password</h1>   
            <form method="POST" action="{% url 'studentapp:changepassword' %}" class="form-group">
                {% csrf_token %}
                <table class="table table-bordered text-light" style="width:60%;margin:auto;">

                    <tr>
                        <td>Enter Old Password</td>
                        <td>
                            <input type="Password" name="oldpassword" class="form-control text-light" required>
                        </td>
                    </tr>
                    <tr>
                        <td> Enter New Password </td>
                        <td>
                            <input type="Password" name="newpassword" class="form-control text-light" required>
                            
                        </td>
                    </tr>
                    <tr>
                        <td> Confirm Password </td>
                        <td>
                            <input type="Password" name="confirmpassword" class="form-control text-light" required>
                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <button type="submit" class="btn btn-warning">Change Password</button>

                        </td>
                    </tr>


                </table>

            </form>
              
        </div>
    </div>
{% endblock body %}
